{% extends "bus/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1>Add a New Bus</h1>
<form method="POST">
  {% csrf_token %}
  <fieldset>
    <legend>Route Details</legend>
    {{ route_form|crispy }}
  </fieldset>
  <fieldset>
    <legend>Bus Details</legend>
    {{ bus_form|crispy }}
  </fieldset>
  <fieldset>
    <legend>Seat Classes</legend>
    {% for form in seat_class_forms %}
      <div class="card mb-3 p-3">
        {{ form|crispy }}
      </div>
    {% endfor %}
  </fieldset>
  <button type="submit" class="btn btn-primary">Add Bus</button>
</form>
{% endblock %}