{% extends "bus/base.html" %}

{% block content %}

<h1>Booking Summary</h1>
{% for booking in bookings %}
    <div>
        <p><strong>Booking ID:</strong> {{ booking.id }}</p>
        <p><strong>User:</strong> {{ booking.user.username }}</p>
        <p><strong>Bus: </strong>{{ booking.bus.bus_number }}</p>
        <p><strong>Seats Booked:</strong> {{ booking.seats_booked }}</p>
        <p><strong>Status:</strong> {{ booking.status }}</p>
        {% if booking.can_edit %}
            <a href="{% url 'edit_booking' booking.id %}" class="btn btn-warning">Edit/Cancel</a>
        {% else %}
            <p class="text-danger">Editing not allowed (less than 6 hours left).</p>
        {% endif %}
    </div>
    <hr
{% empty %}
    <p>No bookings found.</p>
{% endfor %}
<a href="{% url 'project-home' %}">Search More Buses</a>
{% endblock content %}