{% extends "bus/base.html" %}

{% block content %}

<h1>Booking Summary</h1>
<hr>
<h4 style="color: greenyellow;">You currently have {{ confirmed_bookings }} booking(s)</h4>
{% for booking in bookings %}
    <div>
        <p><strong>Booking ID:</strong> {{ booking.id }}</p>
        <p><strong>Bus Number: </strong>{{ booking.bus.bus.bus_number }}</p>
        <p><strong>Seat class: </strong>{{ booking.seats.first.get_seat_class }}</p>
        <p><strong>Departure Time: </strong>{{ booking.bus.departure_time }}</p>
        <p><strong>Fare: </strong>{{ booking.booking_calculate_fare }}</p>
        <p><strong>Route: </strong>
            {% for stop in booking.bus.bus.route.get_ordered_stops %}
                {% if stop.order <= booking.end_stop.order and stop.order >= booking.start_stop.order %} {{ stop.stop.name }} {% if not stop.order == booking.end_stop.order %} → {% endif %}
                {% endif %}
            {% endfor %}
        </p>

        {% if booking.status == 'Confirmed' %}
        <p><strong>Seats Booked:</strong> {% for seat in booking.seats.all %}
            {{ seat.seat_number }}{% if not forloop.last %}, {% endif %}
        {% endfor %}</p>
        {% else %}
        <p style="color: red;"><strong style="color: rgb(44, 44, 44);">Seats Booked:</strong> {% for seat in booking.seats.all %}
            {{ seat.seat_number }}{% if not forloop.last %}, {% endif %}
        {% endfor %} (Cancelled)</p>
        {% endif %}
        <p><strong>Status:</strong> {{ booking.status }}</p>
        {% if booking.can_edit %}
            <a href="{% url 'edit_booking' booking.id %}" class="btn btn-warning">Cancel Booking</a>
        {% else %}
            <p class="text-danger">
            {% if booking.bus.is_departed %}
                Bus has departed. 
            {% elif booking.status == 'Cancelled'%}
                Booking has been cancelled.
            {% else %}
                Editing not allowed (less than 6 hours left).
            {% endif %}
            </p>
        {% endif %}
    </div>
    <hr>
{% empty %}
    <p>No bookings found.</p>
{% endfor %}
<a href="{% url 'project-home' %}">Search More Buses</a>

{% endblock content %}