{% extends "bus/base.html" %}

{% block content %}
<h1>Buses you can edit: </h1>
{% for bus in buses %}
    <div>
        <p><strong>Bus:</strong> {{ bus.bus_number }}</p>
        <p><strong>Route:</strong>{% for stop in bus.route.get_ordered_stops %}
            {{ stop.stop.name }} {% if not stop.order == bus.route.stops.count %} → {% endif %}
           {% endfor %}</p>
        <p><strong>Departure:</strong> {{ bus.departure_time }}</p>
        <p><strong>Seat Classes:</strong>{% for seat_class in bus.seat_classes.all %} {{ seat_class.name }} {% endfor %}</p>
<!--    <p><strong>Total Seats:</strong> {{ seat_class.total_seats }}</p>
        <p><strong>Seats Available:</strong> {{ seat_class.seats_available }}</p>-->
        <p><strong>Fare Per Hour:</strong>: {{ bus.base_fare_per_hour }}</p>
        <p><strong>Days running:</strong> {{ bus.days_of_week_running }}</p>
        <a href="{% url 'edit_bus' bus.bus_number %}" class="btn btn-primary btn-sm">Edit</a>
        <a href="{% url 'bus_bookings' bus.bus_number %}" class="btn btn-primary btn-sm">View Bookings</a>
        <a href="{% url 'delete_bus' bus.bus_number %}" class="btn btn-danger btn-sm">Delete</a>
        <hr>
    </div>
{% endfor %}
<a href="{% url 'export_buses' %}" class="btn btn-primary">Export Buses to Excel</a>

{% endblock content %}