{% extends "bus/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1>Edit Booking</h1>

<form method="post">
  {% csrf_token %}
  {{ form|crispy }}
<!--  <p><strong>Fare: </strong>{{ booking.bus.fare }}</p>
  <p><strong>Class: </strong>{{ booking.seat_class.name }}</p> -->
  <p><strong>Fare: </strong>{{ booking.booking_calculate_fare }}</p>
  <p><strong>Class: </strong>{{ booking.seats.first.get_seat_class }}</p>
  <button type="submit" class="btn btn-primary">Update Booking</button><hr>
</form>
<a href="{% url 'booking_summary'%}" class="btn btn-secondary">Back to Summary</a>
{% endblock content %}